<nav class="navbar justify-content-end navbar-dark bg-dark">
  <form>
  </form>
</nav>
<div class="row header-row px-3 py-3 mb-5">
  <div class="col-12">
    <h1>Dashboard</h1>
  </div>
</div>
<div class="row panel-row px3 py-3">
  <div class="col-6">
  <div class="panel-column col-11 offset-1 shadow-light px-0">
    <!-- RECENT PROJECTS -->
    <nav class="navbar justify-content-end navbar-dark bg-dark">
      <form>
        <button class="btn btn-outline-info" type="button" onclick="location.href = '<%= projects_path %>';">
          <span class="oi oi-list" title="View Project List" aria-hidden="true"></span>
        </button>
        <button class="btn btn-outline-info" type="button" data-toggle="modal" data-target="#newProjectModal">
          <span class="oi oi-plus" title="New Project" aria-hidden="true"></span>
        </button>
      </form>
    </nav>
    <div class="row header-row px-3 py-3">
      <div class="col-12">
        <h2>Recent Projects</h2>
      </div>
    </div>
    <% @projects.each do |project| %>
    <div class="row panel-row px-3 pb-3">
      <div class="col-12 py-2 border-bottom">
        <h3><a href="<%= project_path(project.id)%>"><%= project.title %></a></h3>
        <p><%= project.description %></p>
        <p class="small">Created: <%= format_date_time(project.created_at) %></p>
      </div>
    </div>
    <% end %>
  </div>
  </div>
  <div class="col-6">
  <div class=" panel-column col-11 shadow-light px-0">
    <!-- RECENT TASKS -->
    <nav class="navbar justify-content-end navbar-dark bg-dark">
      <form>
        <button class="btn btn-outline-info" type="button" onclick="location.href = '<%= tasks_path %>';">
          <span class="oi oi-list" title="View Task List" aria-hidden="true"></span>
        </button>
        <button class="btn btn-outline-info" type="button" data-toggle="modal" data-target="#newTaskModal">
          <span class="oi oi-plus" title="New Task" aria-hidden="true"></span>
        </button>
      </form>
    </nav>
    <div class="row header-row px-3 py-3">
      <div class="col-12">
        <h2>Recent Tasks</h2>
      </div>
    </div>
    <% @tasks.each do |task| %>
    <div class="row panel-row px-3 pb-3">
      <div class="col-12 py-2 border-bottom">
        <h3><a href="<%= task_path(task.id)%>"><%= task.title %></a></h3>
        <p><%= task.description %></p>
        <p class="small">Created: <%= format_date_time(task.created_at) %></p>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>
