<nav class="navbar justify-content-end navbar-dark bg-dark">
  <form>
    <button class="btn btn-outline-info" type="button" onclick="location.href = '<%= task_path @task.id %>';">
      <span class="oi oi-x" title="Cancel Edit" aria-hidden="true"></span>
    </button>
  </form>
</nav>
<div class="row header-row px-3 pt-3 pb-5">
  <div class="col-10">
    <span class="x-small">You are editing</span>
    <h1><%= @task.title %></h1>
  </div>
  <div class="col-2">
    <p>..</p>
  </div>
</div>
<div class="row content-row px-3 pt-3 pb-5">
  <div class="col-12">
    <%= form_for @task, html: { class: 'form-horizontal'} do %>
	  <div class="form-group">
		<label for="formGroupExampleInput">Title</label>
		<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example task" name="task[title]" value="<%= @task.title %>" required>
	  </div>
	  <div class="form-group">
		<label for="formGroupExampleInput2">Description</label>
		<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Example description.." name="task[description]" value="<%= @task.description %>">
	  </div>
	  <div class="form-group">
		<label for="formGroupExampleInput2">Project</label>
		<select class="form-control" name="task[project_id]">
		  <% Project.order(created_at: :desc).each do |project| %>
		  <option value="<%= project.id %>" <%= 'selected' if project.id.eql? @task.project_id %>><%= project.title %></option>
		  <% end %>
		</select>
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput3">Due Date</label>
	    <input type="date" class="form-control" id="formGroupExampleInput3" name="task[due_date]" value="<%= @task.due_date.nil? ? '' : @task.due_date.to_date %>">
	  </div>
	  <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="task[is_complete]" <%= 'checked' if @task.is_complete %>>
        <label class="form-check-label" for="exampleCheck1">Completed?</label>
      </div>
	  <div class="form-group">
		<button type="submit" class="btn btn-outline-info">Save changes</button>
		<%= link_to "Delete", task_path(@task.id), method: :delete, class: "btn btn-outline-danger" %>
	  </div>
	<% end %>
  </div>
</div>
