<nav class="navbar justify-content-end navbar-dark bg-dark">
  <form>
    <button class="btn btn-outline-info" type="button" data-toggle="modal" data-target="#newTaskModal">
      <span class="oi oi-plus" title="New task" aria-hidden="true"></span>
    </button>
    <button class="btn btn-outline-info" type="button" onclick="location.href = '<%= root_path %>';">
      <span class="oi oi-x" title="Exit Task List" aria-hidden="true"></span>
    </button>
  </form>
</nav>
<div class="row header-row px-3 py-3 mb-5">
  <div class="col-12">
    <h1>Task List</h1>
  </div>
</div>

<% @tasks.each do |task| %>
<div class="row task-row px-3 pb-3">
  <div class="col-12 py-2 border-bottom">
    <h3><a href="<%= task_path(task.id)%>"><%= task.title %></a></h3>
    <p><%= task.description %></p>
    <p>Created: <%= format_date_time(task.created_at) %></p>
  </div>
</div>
<% end %>
