<nav class="navbar justify-content-end navbar-dark bg-dark">
  <form>
    <button class="btn btn-outline-info" type="button" onclick="location.href = '<%= project_path @project.id %>';">
      <span class="oi oi-x" title="Cancel Edit" aria-hidden="true"></span>
    </button>
  </form>
</nav>
<div class="row header-row px-3 pt-3 pb-5">
  <div class="col-10">
    <span class="x-small">You are editing</span>
    <h1><%= @project.title %></h1>
  </div>
  <div class="col-2">
    <p>..</p>
  </div>
</div>
<div class="row content-row px-3 pt-3 pb-5">
  <div class="col-12">
    <%= form_for @project, html: { class: 'form-horizontal'} do %>
	  <div class="form-group">
		<label for="formGroupExampleInput">Title</label>
		<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example project" name="project[title]" value="<%= @project.title %>" required>
	  </div>
	  <div class="form-group">
		<label for="formGroupExampleInput2">Description</label>
		<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Example description.." name="project[description]" value="<%= @project.description %>">
	  </div>
	  <div class="form-group">
		<button type="submit" class="btn btn-outline-info">Save changes</button>
		<%= link_to "Delete", project_path(@project.id), method: :delete, class: "btn btn-outline-danger" %>
	  </div>
	<% end %>
  </div>
</div>
