<nav class="navbar justify-content-end navbar-dark bg-dark">
  <form>
    <button class="btn btn-outline-info" type="button" onclick="location.href = '<%= edit_project_path @project.id %>';">
      <span class="oi oi-wrench" title="Edit Project" aria-hidden="true"></span>
    </button>
    <button class="btn btn-outline-info" type="button" onclick="location.href = '<%= projects_path %>';">
      <span class="oi oi-x" title="Exit Project" aria-hidden="true"></span>
    </button>
  </form>
</nav>
<div class="row header-row px-3 pt-3 pb-5">
  <div class="col-10">
    <h1><%= @project.title %></h1>
    <p><%= @project.description %></p>
  </div>
  <div class="col-2">
    <p>..</p>
  </div>
</div>
<div class="row header-row px-3 py-3">
  <div class="col-12">
	<h2>Recent Tasks</h2>
  </div>
</div>
<div class="row task-row px-3 pb-3">
  <div class="col-12 py-2 border-bottom">
    <table class="table">
      <thead>
        <tr>
        <th scope="col">Status</th>
        <th scope="col">Task</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Due Date</th>
        <th scope="col">Created Date</th>
        </tr>
      </thead>
      <tbody>
        <% @project.tasks.each do |task| %>
        <tr>
        <th scope="row">Backlog</th>
        <td><h3><a href="<%= task_path(task.id)%>"><%= task.title %></a></h3><p><%= task.description %></p></td>
        <td>No one</td>
        <td><%= "#{format_due_date(task.due_date)}" if !task.due_date.nil? %></td>
        <td><%= format_date_time(task.created_at) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
